body{
	min-width: 320px;
	margin: 0 auto;

	font-size: 17px;
	line-height: 24px;
	font-family: "Open-Sans", Sans-serif;
	color: black;
	font-style: normal;

	background-color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
}

svg{
	width: 100%;
}

.visually-hidden{
	font-size: 0;
	position: absolute;
	visibility: hidden;
}

a{
	font-family: "Open-Sans";
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

