.contacts {
  padding-top: 38px;
  margin-bottom: 38px;
}

.contacts__title {
  @include mobile-secondary-title;
  margin-bottom: 25px;
  font-size: 18px;

  & svg {
    display: none;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
}

.contacts__text,
.contacts__actions {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.contacts__map {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;

  iframe {
    width: 320px;
    height: 450px;
  }
}

.contacts__email {
  display: flex;
  margin-bottom: 29px;
  align-items: flex-start;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
}

.contacts__adress {
  display: flex;
  align-items: flex-start;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
}

.contacts__legend {
  width: 58px;
  margin: 0;
  margin-right: 19px;
}

.contacts__email-data {
  color: $text-color;
  text-decoration: none;
  border-bottom: 1px solid $main-color;

  &:hover {
    color: $main-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__adress-data {
  width: 150px;
  margin: 0;
}

.contacts__text {
  margin-bottom: 38px;
}

.contacts__button {
  font-size: 18px;
}

@media (min-width: 768px) {
  .contacts {
    margin-top: 23px;
    margin-bottom: 57px;
  }

  .contacts__wrapper {
    display: flex;
  }

  .contacts__text,
  .contacts__actions {
    box-sizing: border-box;
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
  }

  .contacts__map {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 59px;

    iframe {
      width: 100%;
      height: 450px;
    }
  }

  .contacts__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 56px;

    .contacts__email,
    .contacts__adress {
      width: 334px;
      font-size: 17px;
      line-height: 30px;
    }
  }

  .contacts__title {
    position: relative;
    margin-left: -5px;
    margin-bottom: 48px;
    width: 100%;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__title svg {
    display: block;
    position: absolute;
    width: 51px;
    height: 87px;
    top: -35%;
    left: 93%;
  }

  .contacts__adress-data {
    width: 200px;
  }

  .contacts__button {
    width: 231px;
    margin: 0 auto;
    font-size: 17px;
  }
}

@media (min-width: 1150px) {
  .contacts {
    margin-top: 33px;
    margin-bottom: 105px;
  }

  .contacts__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    width: 1050px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .contacts__text {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    padding-left: 175px;
    width: 525px;
  }

  .contacts__title {
    margin-top: 70px;
    font-size: 53px;
    line-height: 57px;
    width: 100%;

    & svg {
      top: -13px;
      left: -110px;
    }
  }

  .contacts__actions {
    margin: 0;
    margin-left: 125px;
    margin-top: -50px;
    width: auto;
  }

  .contacts__map {
    width: 525px;
    margin: 0;
  }
}
