.page-header{
	position: relative;
	width: auto;
	margin: 0 auto;
	background: #ffffff;
	color: #000000;
	border-bottom: 1px solid #ececec;
}

.page-header__main-menu{
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.page-header__logo{
	text-align: center;
	
}

.page-header__logo-mobile{
	height: 75px;
}

.page-header__logo-tablet{
	display: none;
}

.page-header__logo-desktop{
	display: none;
}

.page-header__toggle--closed{
	position: absolute;
	top: 0px;
	right: 0px;

	font-size: 0;

	height: 80px;
	width: 80px;

	background-color: #ffffff;
	border: none;
	cursor: pointer;
	
	&:after{
		position: absolute;
		top: 30px;
		right: 30px;
		content: "";

		width: 20px;
		height: 15px;
		cursor: pointer;

		box-shadow: inset 0 2px 0 0 #000000, inset 0 6px 0 0 #ffffff,
					inset 0 8px 0 0 #000000, inset 0 12px 0 0 #ffffff,
					inset 0 14px 0 0 #000000;
		}
}

.page-header__toggle--opened{
	
}

.page-header__addit-menu{
	display: none;
}

@media (min-width: $tablet-width) {
	.page-header{
		padding: 0 50px;
		}	

	.page-header__main-menu{
		width: auto;
		
		flex-direction: row;
		justify-content: space-between;
	}

	.page-header__logo{
		width: 320px;
		text-align: left;
		border: none;
	}

	.page-header__logo-mobile{
		display: none;
	}

	.page-header__logo-tablet{
		height: 90px;
		width: 110px;
		display: block;
	}

	.page-header__toggle{
		display: none;
	}

	.page-header__addit-menu{
		position: absolute;
		bottom: -55px;
		right: 50px;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

@media (min-width: $desktop-width) {
	.page-header{
		border: none;
		border-bottom: 1px solid #ececec;
	}

	.page-header__main-menu{
		width: auto;
		z-index: 100;
	}

	.page-header__logo{
		width: auto;
		margin-right: 50px;
		order: 2
	}

	.page-header__logo-tablet{
		display: none;
	}

	.page-header__logo-desktop{
		display: block;
		width: 150px;
		height: 90px;
	}

	.page-header__addit-menu{
		width: auto;
		left: 0;
		z-index: 100;
	}
}
